//====================================
//  Variables
//====================================

// Fonts
$font-primary: 'Muli', sans-serif;

// Colours
$light-grey: rgb(239, 240, 241);
$medium-grey: rgb(122, 137, 149);
$dark-grey: rgb(73, 85, 96);
$blue: rgb(55, 185, 216);
$white: #fff;

// Center:
$center: 0 auto;

// Round:
$round: 50%;

// Spacing
$gutter: 1rem;

// Breakpoints
$brk-tablet: 40.063em;
$brk-desktop: 76.5625rem;
