//====================================
//  Footer
//====================================

footer {
    padding: 1.5rem 3rem;
    max-width: 1225px;
    margin: $center;
    .row {
        max-width: 100%;
    }
    .columns {
        padding-left: 0;
    }
    .social {
        text-align: right;
    }
    svg {
        height: 35px;
        width: 35px;
        fill: $medium-grey;
    }
    p {
        color: $medium-grey;
        font-size: 0.95rem;
        font-weight: 300;
        padding-top: 0.5rem;
    }
}
